body {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;

  background: linear-gradient(
    180deg,
    #ffd6ec,
    #ffeef7
  );

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#app{
  width:100%;
}

.title-box,
.shop-card{

  max-width:500px;

  margin:auto;

  background:white;

  border-radius:30px;

  padding:30px;

  text-align:center;

  box-shadow:
    0 8px 25px rgba(0,0,0,.15);

}

h1{

  font-size:48px;

  margin-bottom:10px;

}

.sub{

  color:#ff4fa3;

  font-weight:bold;

}

.mini{

  font-size:14px;

  color:#ff77bb;

}

.gal-talk{

  margin:25px 0;

  font-size:22px;

  font-weight:bold;

  color:#ff3399;

}

button{

  background:#ff5fb0;

  color:white;

  border:none;

  border-radius:999px;

  padding:14px 28px;

  font-size:20px;

  cursor:pointer;

  transition:.2s;

}

button:hover{

  transform:scale(1.05);

}